@{
    ViewData["Title"] = "Error";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/red-color.css">
    <link rel="stylesheet" href="assets/css/yellow-color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
    <main>        
        <section>
            <div class="block">
                <div class="error-page-wrapper text-center">
                    <div class="error-page-inner">
                        <h1 itemprop="headline">404 <span class="red-clr">Error</span></h1>
                        <h4 itemprop="headline"><span class="yellow-clr">Oops,</span> This Page Not Found!</h4>
                    </div>
                </div><!-- Error Page Wrapper -->
            </div>
        </section>

        <div class="bottom-bar dark-bg text-center">
            <div class="container">
                <p></p>
            </div>
        </div><!-- Bottom Bar -->
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>