@model List<FoodOrderingSystem.Models.Cart.CartObj>
@{
    ViewData["Title"] = "Ordering";
}
<main>
    <header class="stick" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
        <div class="logo-menu-sec">
            <div class="container">
                <div class="logo">
                    <h1 itemprop="headline">
                        <a href="#" title="Home" itemprop="url"><img src="~/images/logo.png" alt="logo.png" itemprop="image"></a>
                    </h1>
                </div>
                <!-- Navigation -->
            </div>
        </div>
        <!-- Logo Menu Section -->
    </header>
    <!-- Header -->
    
    <section>
        <div class="block gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="login-register-wrapper">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-lg-6" style="margin: 0px 300px;">
                                    <div class="sign-popup-wrapper brd-rd5">
                                        <div class="sign-popup-inner brd-rd5">
                                            <div class="sign-popup-title text-center">
                                                <h4 itemprop="headline">SIGN IN</h4>
                                            </div>
                                            <form class="sign-form" name="login-form">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <label>Email</label>
                                                        <input name="email" class="brd-rd3" type="email" placeholder="Enter Your Email" style="font-size: 14px" required>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <label>Password</label>
                                                        <input name="password" class="brd-rd3" type="password" placeholder="Enter Your Password" style="font-size: 14px" required>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <p id="login-error-message" style="color:red; display:none;"></p>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <button class="red-bg brd-rd3" type="button" onclick="checkLogin()">SIGN IN</button>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <a class="sign-popup-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sign-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="sign-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">SIGN UP</h4>
                </div>
                <form class="sign-form" name="register-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="required">Email</label>
                            <input name="email" class="brd-rd3" type="email" placeholder="Email" style="font-size: 14px" required>
                            <p class="err-msg" style="color:red;"></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="required">Password</label>
                            <input name="password" class="brd-rd3" type="password" placeholder="Password" style="font-size: 14px" required>
                            <p class="err-msg" style="color:red;"></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="required">Full Name</label>
                            <input name="fullname" class="brd-rd3" type="text" placeholder="Full Name" required style="font-size: 14px">
                            <p class="err-msg" style="color:red;"></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="required">Phone Number</label>
                            <input name="phoneNumber" class="brd-rd3" type="tel" placeholder="Phone Number" required style="font-size: 14px">
                            <p class="err-msg" style="color:red;"></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label class="required">Address</label>
                            <input name="address" class="brd-rd3" type="text" placeholder="Address" required style="font-size: 14px">
                            <p class="err-msg" style="color:red;"></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3" type="button" onclick="registerCustomer()">REGISTER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/login-register.js"></script>