
@{
    ViewData["Title"] = "Dashboard";
}

<main>
    <header class="stick" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
        <div class="logo-menu-sec">
            <div class="container">
                <div class="logo">
                    <h1 itemprop="headline">
                        <a href="#" title="Home" itemprop="url"><img src="~/images/logo.png" alt="logo.png" itemprop="image"></a>
                    </h1>
                </div>
                <nav>
                    <div class="menu-sec">
                        <ul style="margin: 10px; float: right;">
                            <li><a href="#" title="CHANGE INFORMATION" itemprop="url" class="profile-name" id="nav-user"></a></li>
                        </ul>
                        <!-- Current User Name -->
                    </div>
                </nav>
                <!-- Navigation -->
            </div>
        </div>
        <!-- Logo Menu Section -->
    </header>
    <!-- Header -->
    <section>
        <div class="block gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="dashboard-tabs-wrapper">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-lg-4">
                                        <div class="profile-sidebar brd-rd5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                            <div class="profile-sidebar-inner brd-rd5">
                                                <div class="user-info red-bg">
                                                    <div class="user-info-inner">
                                                        <h5 itemprop="headline" id="info-name"></h5>
                                                        <span id="info-email"></span>
                                                        <a class="brd-rd3 sign-out-btn yellow-bg" href="../api/Common/Logout" title="" itemprop="url"><i class="fa fa-sign-out"></i> SIGN OUT</a>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#my-orders" data-toggle="tab" aria-expanded="true"><i class="fa fa-shopping-basket"></i> PENDING ORDERS</a></li>
                                                    <li><a href="#my-reviews" data-toggle="tab"><i class="fa fa-comments"></i> PENDING REVIEWS</a></li>
                                                    <li><a href="#account-settings" data-toggle="tab"><i class="fa fa-cog"></i> ACCOUNT SETTINGS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-lg-8">
                                        <div class="tab-content">
                                            <div class="tab-pane fade" id="my-reviews">
                                                <div class="tabs-wrp brd-rd5">
                                                    <h4 itemprop="headline">PENDING REVIEWS</h4>
                                                    <div class="review-list" id="review-list">
                                                    </div>
                                                    <!-- Review List -->
                                                </div>
                                            </div>
                                            <div class="tab-pane fade active in" id="my-orders">
                                                <div class="tabs-wrp brd-rd5">
                                                    <h4 itemprop="headline">PENDING ORDERS</h4>
                                                    <div class="report-table">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>NO.</th>
                                                                    <th>NAME</th>
                                                                    <th>ORDER TIME</th>
                                                                    <th>ADDRESS</th>
                                                                    <th>TOTAL</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="order-table">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- Statement Table -->
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="account-settings">
                                                <div class="tabs-wrp account-settings brd-rd5">
                                                    <h4 itemprop="headline">ACCOUNT SETTINGS</h4>
                                                    <div class="account-settings-inner">
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <div class="profile-info-form-wrap">
                                                                    <form class="profile-info-form">
                                                                        <div class="row mrg20">
                                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                                <label>Full Name</label>
                                                                                <input class="brd-rd3" type="text" id="profile-name" placeholder="Enter Your Name">
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                                <label>Phone Number</label>
                                                                                <input class="brd-rd3" type="text" id="profile-phone" placeholder="Enter Your Phone Number">
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                                <label>Address</label>
                                                                                <input class="brd-rd3" type="text" id="profile-address" placeholder="Enter Your Address">
                                                                            </div>
                                                                        </div>
                                                                        <button class="red-bg brd-rd4" style="width: 22%; font-size: 13px; margin: 0px 230px" type="submit">SAVE</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Section Box -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bottom-bar dark-bg text-center">
        <div class="container">
            <p></p>
        </div>
    </div>
    <!-- Bottom Bar -->
    <div class="feedback-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="feedback-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">REPLY FEEDBACK</h4>
                </div>
                <form class="sign-form" name="reply-form">
                    <div class="row">
                        <input type="hidden" id="respond-feedback-id">
                        <input type="hidden" id="respond-feedback-email">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <textarea class="brd-rd3" id="reply-content" style="margin-top: 1rem; font-size:12px;" placeholder="Write your feedback here... "></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3 feedback-submit-btn" onclick="replyFeedback()" type="button">SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="detail-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="detail-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">ORDER DETAILS</h4>
                </div>
                <div class="row">
                    <div class "col-md-12 col-sm-12 col-lg-12">
                        <div class="order-list-wrapper">
                            <ul class="order-list-inner" id="order-details-list">
                            </ul>
                            <ul class="order-total red-bg" style="margin-bottom: 10px;">
                                <li><span>Sub total</span> <i class="money" id="subtotal-order-details">158000</i></li>
                                <li><span>Delivery fee</span> <i class="money" id="delivery-order-details">20000</i></li>
                                <li>
                                    <hr style="width: 100%; margin: 0;">
                                </li>
                                <li><span style="top: 0%">Total</span> <i class="money" id="total-order-details">178000</i></li>
                            </ul>
                            <div class="order-info detail-button">
                                <span id="order-customer-id" style="display: none"></span>
                                <a class="brd-rd3 detail-submit-btn decline-order" href="#">Decline</a>
                                <a class="brd-rd3 detail-submit-btn accept-order" href="#">Accept</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Wrapper -->

<script src="~/js/staff-profile.js"></script>