@{
    ViewData["Title"] = "Customer Management";
}

<main>
    <header class="stick" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
        <div class="logo-menu-sec">
            <div class="container">
                <div class="logo">
                    <h1 itemprop="headline">
                        <a href="Index" title="Home" itemprop="url"><img src="~/images/logo.png" alt="logo.png" itemprop="image"></a>
                    </h1>
                </div>
                <nav>
                    <div class="menu-sec">
                        <ul>
                            <li style="margin-left: 150px;">
                                <a href="#" title="FOOD MANAGEMENT" itemprop="url"><span class="red-clr">MANAGEMENT</span>FOOD MANAGEMENT</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="ACCOUNT MANAGEMENT" itemprop="url"><span class="red-clr">MANAGEMENT</span>ACCOUNT MANAGEMENT</a>
                                <ul class="sub-dropdown">
                                    <li><a href="StaffManagement" title="STAFF MANAGEMENT" itemprop="url">STAFF</a></li>
                                    <li><a href="CustomerManagement" title="CUSTOMER MANAGEMENT" itemprop="url">CUSTOMER</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul style="margin: 10px; float: right;">
                            <li><a href="Profile" title="CHANGE INFORMATION" itemprop="url" class="profile-name" id="nav-user">@ViewBag.userID</a></li>
                        </ul>
                        <!-- Current User Name -->
                    </div>
                </nav>
                <!-- Navigation -->
            </div>
        </div>
        <!-- Logo Menu Section -->
    </header>
    <!-- Header -->

    <section>
        <div class="block gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="filters-wrapper">
                                <form class="restaurant-search-form brd-rd2">
                                    <div class="row" style="margin: -30px 210px 10px;">
                                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                                            <div class="input-field brd-rd4"><input class="brd-rd2" id="search-value" type="text" placeholder="Search customer here..."></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                            <button class="brd-rd4 red-bg" onclick="showCustomerList();" type="button">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="statement-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>FULL NAME</th>
                                                <th>PHONE NO.</th>
                                                <th>EMAIL</th>
                                                <th>ADDRESS</th>
                                                <th>STATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody id="customer-table">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Customer Table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/js/customer-management.js"></script>