@{
    ViewData["Title"] = "Food Management";
}

<main>
    <header class="stick" style="transform: translate3d(0px, 0px, 0px); position: fixed; top: 0px;">
        <div class="logo-menu-sec">
            <div class="container">
                <div class="logo">
                    <h1 itemprop="headline">
                        <a href="Index" title="Home" itemprop="url"><img src="~/images/logo.png" alt="logo.png" itemprop="image"></a>
                    </h1>
                </div>
                <nav>
                    <div class="menu-sec">
                        <ul>
                            <li style="margin-left: 150px;">
                                <a href="Index" title="FOOD MANAGEMENT" itemprop="url"><span class="red-clr">MANAGEMENT</span>FOOD MANAGEMENT</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="ACCOUNT MANAGEMENT" itemprop="url"><span class="red-clr">MANAGEMENT</span>ACCOUNT MANAGEMENT</a>
                                <ul class="sub-dropdown">
                                    <li><a href="StaffManagement" title="STAFF MANAGEMENT" itemprop="url">STAFF</a></li>
                                    <li><a href="CustomerManagement" title="CUSTOMER MANAGEMENT" itemprop="url">CUSTOMER</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul style="margin: 10px; float: right;">
                            <li><a href="Profile" title="CHANGE INFORMATION" itemprop="url" class="profile-name" id="nav-user">@ViewBag.userID</a></li>
                        </ul>
                        <!-- Current User Name -->
                    </div>
                </nav>
                <!-- Navigation -->
            </div>
        </div>
        <!-- Logo Menu Section -->
    </header>
    <!-- Header -->
    <section>
        <div class="block gray-bg top-padd30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-box">
                            <div class="filters-wrapper">
                                <datalist id="categories"></datalist>
                                <form class="restaurant-search-form brd-rd2">
                                    <div class="row" style="margin: -30px 210px 10px;">
                                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                                            <div class="input-field brd-rd4"><input class="brd-rd2" type="text" id="search-value" placeholder="Search dish here..."></div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                                            <button class="brd-rd4 red-bg" onclick="showItemList();" type="button">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                                <ul class="filter-buttons center" style="padding-inline-start: 0;" id="category-list">
                                    <li class="active" style="margin-left: 55px"><a class="brd-rd30 filter-all-items" data-filter="*" href="#" itemprop="url">All</a></li>
                                    <li class="add-new-button"><button class="brd-rd4 add-popup-btn">ADD</button></li>
                                </ul>
                                <!-- Filter Buttons -->
                                <div class="filters-inner style2">
                                    <div class="row">
                                        <div class="masonry" id="item-list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="add-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="add-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">ADD NEW DISH</h4>
                </div>
                <form class="sign-form" id="add-form">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Name</label>
                            <input class="brd-rd3" type="text" id="dish-name-add" placeholder="Enter Dish Name" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Category</label>
                            <input list="categories" name="category" class="brd-rd3" type="text" id="dish-category-add" placeholder="Choose Dish Category" style="font-size: 14px" autocomplete="off">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Price</label>
                            <input class="brd-rd3" type="number" id="dish-price-add" placeholder="Enter Price" style="font-size: 14px" min="1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Image</label>
                            <input class="brd-rd3" type="file" id="dish-image-add" accept="image/*" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Description</label>
                            <textarea class="brd-rd3" id="dish-description-add" style="margin-top: 1rem; font-size:12px;" placeholder="Write Description... "></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3 add-submit-btn" onclick="createItem();" type="button">ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="edit-popup text-center">
        <div class="sign-popup-wrapper brd-rd5">
            <div class="sign-popup-inner brd-rd5">
                <a class="edit-close-btn" href="#" title="" itemprop="url"><i class="fa fa-close"></i></a>
                <div class="sign-popup-title text-center">
                    <h4 itemprop="headline">EDIT DISH INFO</h4>
                </div>
                <form class="sign-form" id="edit-form">
                    <div class="row">
                        <input type="hidden" id="dish-id-edit">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Name</label>
                            <input class="brd-rd3" type="text" id="dish-name-edit" placeholder="Enter Dish Name" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Category</label>
                            <input list="categories" name="category" class="brd-rd3" type="text" id="dish-category-edit" placeholder="Choose Dish Category" style="font-size: 14px" autocomplete="off">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Price</label>
                            <input class="brd-rd3" type="number" id="dish-price-edit" placeholder="Enter Price" style="font-size: 14px" min="1">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Image</label>
                            <input class="brd-rd3" type="file" id="dish-image-edit" accept="image/*" style="font-size: 14px">
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Description</label>
                            <textarea class="brd-rd3" id="dish-description-edit" style="margin-top: 1rem; font-size:12px;" placeholder="Write Description... "></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <label>Status</label><br>
                            <input type="radio" name="dish-status-edit" id="dish-available" checked="checked" style="margin-left: 24px;">
                            <label for="dish-available" style="font-weight: 400;">Available</label><br>
                            <input type="radio" name="dish-status-edit" id="dish-unavailable" style="margin-left: 24px;">
                            <label for="dish-unavailable" style="font-weight: 400;">Unavailable</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <button class="red-bg brd-rd3 edit-submit-btn" style="margin-top: 12px;" onclick="updateItem();" type="button">SAVE CHANGES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="~/js/food-management.js"></script>